.container {
  display: flex;
  flex-wrap: wrap;
}

.my-slider {
  position: relative;
  text-align: center;
  margin: auto;
  width: 90%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.my-slider #left-arrow svg, .my-slider #right-arrow svg {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.my-slider .slider-content {
  width: 80%;
  display: flex;
  list-style-type: none;
  overflow: hidden;
}
.my-slider .slider-content .slider-item[rel=active] {
  position: absolute;
  left: calc(50% - 240px);
  top: calc(50% - 180px);
  transform: scale(1);
  z-index: 10;
}
.my-slider .slider-content .slider-item[rel=prev] {
  transform: scale(0.5);
  position: absolute;
  left: 2%;
}
.my-slider .slider-content .slider-item[rel=next] {
  transform: scale(0.5);
  position: absolute;
  left: 58%;
}
.my-slider .slider-content .slider-item {
  transform: scale(0.5);
  position: absolute;
  left: -4000%;
}
.my-slider #slider-indicators {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 100%;
  width: 100%;
}
.my-slider #slider-indicators .slider-indicator {
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: black;
  opacity: 0.5;
}
.my-slider #slider-indicators .slider-indicator[rel=active] {
  opacity: 1;
}
.my-slider #slider-indicators .slider-indicator:hover {
  opacity: 0.8;
}

#tabs-area {
  position: relative;
  margin-top: 90px;
  margin-bottom: 20px;
  width: 100%;
}
#tabs-area #tabs {
  display: flex;
}
#tabs-area #tabs .tab-button {
  width: 90px;
  height: 50px;
  border-radius: 100px 100px 100px 100px/100% 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
#tabs-area #tabs .tab-button.active {
  color: white;
  background: #73a473;
}
#tabs-area .tab-content {
  display: none;
  background-color: #73a473;
  position: absolute;
  top: 30px;
  padding: 50px 30px;
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
}
#tabs-area .tab-content.active {
  display: flex;
  justify-content: center;
}
#tabs-area .tab-content.active p {
  margin-right: 25px;
  background: white;
}
#tabs-area .tab-content.active img {
  margin-top: 15px;
  max-width: 100%;
}

#accordion-area {
  position: relative;
  margin-top: 55%;
  margin-left: auto;
  margin-right: auto;
}
#accordion-area .menu-title {
  position: relative;
  background: lightcoral;
  display: flex;
  margin-top: 5px;
  margin-left: 15px;
  width: 320px;
  height: 70px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 60px 60px 60px 60px/80% 80%;
}
#accordion-area .menu-title span {
  margin: auto;
}
#accordion-area .menu-content {
  position: relative;
  left: 8px;
  display: flex;
  flex-direction: column;
  background: wheat;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  transition: all 0s;
  max-height: 0;
  overflow: hidden;
}
#accordion-area .menu-content a {
  margin-top: 5px;
  color: brown;
  text-decoration: none;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
